# Build artifacts
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
app/release/

# IDE specific files
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Local configuration
local.properties

# OS specific files
.DS_Store
Thumbs.db

# Project specific
# Don't commit the developer key
app/src/main/res/raw/sdk.key
